<!doctype html>
<html lang="en">
<title>Compression Bias</title>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
</head>
<body>
<div class=page>
	<hr>
	  <h1>{% block title %} {% endblock %} </h1>
	    <div class=content>

 <p>
	 <a href="{{ url_for('show_classes', dataset='celeba') }}">CelebA Class names</a>
	 <a href="{{ url_for('show_run_names', arch='resnet18', dataset='celeba') }}">Celeba-RN18-Joint</a>
	 <a href="{{ url_for('show_run_names', arch='resnet18', dataset='full_celeba') }}">Full Celeba-RN18-Joint</a>
	 <a href="{{ url_for('show_run_names', arch='mobilenet', dataset='celeba') }}">Celeba-Mobilenet-Joint</a>
	 <a href="{{ url_for('show_single_run_names', arch='resnet18', dataset='celeba') }}">Celeba-RN18-Single</a>
	 <a href="{{ url_for('show_single_run_names', arch='resnet18', dataset='celeba', backdoor=True) }}">Celeba-RN18-Single-Backdoor</a>
	 <a href="{{ url_for('show_examples',  dataset='celeba', attr='Blond_Hair') }}">Example Attribute Viewer</a>
	 <a href="{{ url_for('show_examples',  dataset='celeba', attr='Blond_Hair', category='Young', sparsity_strategy='80_GMP-RI', type='joint') }}">Example Model Viewer</a>
 </p>
      {% block body %}{% endblock %}
</div>
</body>
</html>
<script defer type="text/javascript">
	var tables = document.getElementsByClassName("dataframe");
	for (var i = 0; i < tables.length; i++) {
			   new simpleDatatables.DataTable("#" + tables.item(i).id
					                 );
		}
	    </script>
