{% extends "layout.html" %}

{% block title %} 
Results for run training all binary attributes together.
{% endblock %} 

{% block body %}
	<h1>Runs Summary</h1>
	{{counts_table | safe}}


	<h1>Overall Accuracy</h1>
	<h3>Averaged across all classes</h3>
	{{top_level_accs | safe}}
	<h3>Per-class</h3>
	<h1>Overall AUC (not split by attr)</h1>
	{{summary_table[0]['table'] | safe}}

	<h1>Overall ACC (not split by attr)</h1>
	{{summary_table[1]['table'] | safe}}

	<h1>Overall FPR (not split by attr)</h1>
	{{summary_table[2]['table'] | safe}}

	<h1>Overall FNR (not split by attr) </h1>
	{{summary_table[3]['table'] | safe}}

	<h1>Overall Predicted Positive Rate (not split by attr) </h1>
	{{summary_table[4]['table'] | safe}}

	<h1>Overall Uncertainty (prob between 0.1 and 0.9) </h1>
	{{summary_table[5]['table'] | safe}}

	<h1>Overall High Uncertainty (prob between 0.4 and 0.6) </h1>
	{{summary_table[6]['table'] | safe}}

	{%for res  in per_attr_bas%}
	<h1>Bias Amplification - {{res['attr']}}</h1>
	<img src="data:image/png;base64,{{res['plot_url']}}"></img>
	<img src="data:image/png;base64,{{res['detail_plot_url']}}"></img>
	{{res['table'] | safe}}
	{%endfor%}
	<h1>False Positive Rates</h1>
	{%for res  in per_attr_fprs%}
	<h1>FPR Gap - {{res['attr']}}</h1>
	<img src="data:image/png;base64,{{res['plot_url']}}"></img>
	<img src="data:image/png;base64,{{res['detail_plot_url']}}"></img>
	{{res['table'] | safe}}
	{%endfor%}
	<h1>False Negative Rates</h1>
	{%for res  in per_attr_fnrs%}
	<h1>FNR Gap -  {{res['attr']}}</h1>
	<img src="data:image/png;base64,{{res['plot_url']}}"></img>
	<img src="data:image/png;base64,{{res['detail_plot_url']}}"></img>
	{{res['table'] | safe}}
	{%endfor%}

	{%for plot_url  in pred_distr_plots%}
	<img src="data:image/png;base64,{{plot_url}}"></img>
	{%endfor%}

{% endblock %} 
